
<form action="/store" method="POST" enctype="multipart/form-data">
<h1>Upload Profile Photo</h1>
<input type="file" name="sampleFile" accept="image/*"/>
<input type="submit" class="btn btn-primary">

</form>