
<form action="/store" method="POST" enctype="multipart/form-data">
<h1>Upload Profile Photo</h1>
<input type="file" name="sampleFile" accept="image/*"/>
<input type="submit" class="btn btn-primary">

</form>

<div class="card">
    <img src="/img/user.png" class="card__image" alt="User Profile">
    <h1 class="card__title">Madhu</h1>
    <div class="card__job">Web Developer</div>
    <p class="card__about">
        Hi! I am Madhu. I am a developer Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium nobis soluta repellat id beatae nisi quae pariatur, obcaecati atque quas labore, veritatis repellendus voluptates magni, illum illo eligendi. Impedit, accusamus.
    </p>
    <button type="button" class="btn btn-primary">View Profile</button>
</div>